<!DOCTYPE html>
<html>
  <head>
    <title>CYOA</title>

    <link rel="stylesheet" href="/css/app.css">
    <script src="javascripts/app.js"></script>
  </head>
  <body>
    No one suspects the holy man
  </body>
</html>